body, html {
    height: 100%;
    font-family: 'Advent Pro', sans-serif;
    background-color: rgb(88, 126, 150);
    margin: 0;
}


nav {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(7, 87, 87, 0.7);
}

.nav-link {
    color: seashell;
    font-size: x-large;
    font-family: 'Advent Pro', sans-serif;
    text-decoration-line: underline;
}

a:hover {
    color: whitesmoke;
  }

.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }

.hero-image {
    background-image: url("../images/hero3.jpg");
    background-size: 100%;
    justify-content: center;
    background-repeat: no-repeat;
    display: flex; 
    align-items: center;
    height: 90%;
}

.hero-text {
    max-width: 100%;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:whitesmoke;
}

.hero-span {
    background: rgba(7, 87, 87, 0.8);
    padding: 0.5px;
    margin-top: 10px;
    letter-spacing: 1.5px;
}

.why-us {
    margin-top: 25px;
    text-align:  center;
    background-color: rgba(7, 87, 87, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    transition: 0.5s;
}

.why-us:hover {
    transform: scale3d(1.05, 1.05, 1.05);
    background-color: rgba(7, 87, 103, 0.7);
}

  
@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation-duration: 5000ms;
  }
  
ul {
    padding: 15px 20px 15px 20px;
}

li {
    list-style: none;
    display: inline;
}

.jumbotron {
    border: 2px solid white;
    border-radius: 0;
    width: 48%;
    height: 540px;
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(7, 87, 103, 0.7);
    color: whitesmoke;
    letter-spacing: 2.5px;
}

/*Media query for Home page*/

/* smartphone */

@media only screen and (max-width: 600px) {
    .nav.justify-content-center {
        padding: 0;
    }
    .navbar{
        padding-left: 0;
        margin-left: 0;
        width: 100%;
    }
    .logo {
        width: 100px;
        height: 50px;
    }
    .hero-image {
        display: none;
    }
   .image-youcan {
       display: none;
   } 
   .why-us {
       width: 100%;
       margin-top: 7px;
   }
   .hero-span {
       display: none;
   }
   ul {
       padding: 0;
   }

   .jumbotron {
       width: 100%;
       height: 100%;
   }
}

/* iPad */

@media screen and (max-width: 768px) {
    .logo {
        width: 200px;
        height: 100px;
    }
    .hero-image {
        height: 50%;
    }
    .hero-text {
        display: none;
    }
    .story {
        padding-left: 50px;
        padding-right: 0;
    }
    .jumbotron {
        width: 93%;
        height: 100%;
        float: none;
        margin-top: 10px;
    }
}


.recipes {
    background-color: rgba(9, 70, 70, 0.7);
}

.recipes .row {
    padding: 20px 15px 20px 15px;
    margin: 0 auto;
}

.btn.btn-primary {
    background-color: rgba(7, 87, 87, 0.8);
    border: none;
}

.btn.btn-primary:hover {
    transform: scale3d(1.05, 1.05, 1.05);
    background-color: rgba(12, 57, 66, 0.7);
}

hr {
    height: 2px;
    margin: 0;
}

footer {
    text-align: center;
    background-color: rgba(7, 87, 87, 0.7);
    align-items: center;
}


.foot {
    padding-top: 20px;
    padding-bottom: 15px;    
    margin: 0 auto;
    width: 100%;
    align-items: center;
}

a {
    padding: 10px;
    background-color: transparent;
}

.alignment {
    line-height: 2px;
    align-items: center;
}

i {
    display: inline-block;
    background-color: teal;
    color: white;
    padding: 15px 5px 2px 5px;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 20%;
    align-items: center;
}

i:hover {
    color: whitesmoke;
    transform: scale3d(1.05, 1.05, 1.05);
    box-shadow: 0px 0px 3px;
    background-color: rgba(19, 52, 71, 0.5);
}

.copyright {
    background-color:  rgba(5, 59, 59, 0.8);
    color: white;
    text-align: center;
    height: 30px;
    align-items: center;
    padding-top: 3px;
    letter-spacing: 2px;
    font-size: 18px;
    word-spacing: 5px;
}

@media only screen and (max-width: 600px) {
    .copyright {
        height: 100%;
    }
}

.classes {
    background-color: #393d41;
    padding-bottom: 35px;
}

.workshop {
    justify-content: center;
    background-repeat: no-repeat;
    display: flex; 
    margin: 0;
    text-align: center;
    color: white;
    padding: 15px 10px 10px 10px;
}

.ws-img {
    display: flex;
    justify-content: center;
    clear: both;
}

.vd-info {
    color: white;
    align-items: center;
    text-align: center;
    border: 9px solid white;
    margin-top: 35px;
    width: 1000px;
    height: 400px;
}

.general-info {
    display: flex;
    font-size: x-large;
}

.hor-list-l {
    padding-top: 15px;
    float: right;
    margin: 0;
    padding-left: 330px;
}

.hor-list-r {
    padding-left: 50px;
    padding-top: 15px;
}

.ws-details {
    display: list-item;
    text-align: left;
}

.VD {
    font-size: 20px;
    text-align: justify;
}

.signup-form {
    margin-top: 35px;
    margin-left: 175px;
    color: #fff;
    max-width: 400px;
    padding: 30px;
    border: 9px solid white;
}
  
.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}
  
.text-input {
    letter-spacing: 2px;
    background-color: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}
  
.text-input:hover {
    border-color: #2e5064
}
  
.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color:teal;
    color: #fafafa;
    display: block;
}
  
.join-button:hover {
    background-color: #fafafa;
    color: #1f4053;
}

.container-ws {
    display: flex;
}

/* EMBEDED MAP */

.mapouter {
    position: relative;
    text-align: right;
    padding-top: 35px;
    padding-left: 15px;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 460px;
    width: 585px;
    border: 9px solid white;
  }

@media screen and (max-width: 798px) {

    .logo {
        width: 150px;
        height: 100px;
    }
    img {
        width: 93%;
    }
    .vd-info {
        width: 95%;
        height: 100%;
    }
    .hor-list-l {
        padding-left: 100px;
    }
    .hor-list-r {
        padding-left: 0;
    }
    .signup-form {
        margin-left: 23px;
        width: 90%;
    }
   .gmap_canvas {
       width: 305px;
   }
}

@media screen and (max-width: 600px) {
    img {
        width: 90%;
    }
    .container-ws{
        justify-content: center;
    }
    .mapouter {
        display: none;
    }
    .signup-form {
        margin-left: 0;
    }
}